[submodule "api"]
	path = api
	url = https://github.com/cmsc22000-project-2018/api.git
[submodule "lib/api/lib/redis-tries/RedisModulesSDK"]
	path = lib/api/lib/redis-tries/RedisModulesSDK
	url = https://github.com/RedisLabs/RedisModulesSDK.git
[submodule "lib/api/lib/redis-tries/hiredis"]
	path = lib/api/lib/redis-tries/hiredis
	url = https://github.com/redis/hiredis.git
